In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('results/random_walk_prob_1.csv')
df.describe()

              score     best_tile
count  12500.000000  12500.000000
mean    1277.424960    121.512960
std      653.038118     66.456301
min      132.000000     16.000000
25%      784.000000     64.000000
50%     1196.000000    128.000000
75%     1524.000000    128.000000
max     6804.000000    512.000000

In [3]:
df = pd.read_csv('results/random_walk_prob_2.csv')
df.describe()

              score     best_tile
count  12500.000000  12500.000000
mean    1061.734720    105.443840
std      523.525359     56.033722
min       92.000000     16.000000
25%      656.000000     64.000000
50%     1000.000000    128.000000
75%     1324.000000    128.000000
max     4600.000000    512.000000

In [4]:
df = pd.read_csv('results/random_walk_prob_3.csv')
df.describe()

              score     best_tile
count  12500.000000  12500.000000
mean     961.000000     98.265600
std      470.732417     51.322186
min       84.000000     16.000000
25%      608.000000     64.000000
50%      896.000000     64.000000
75%     1240.000000    128.000000
max     4184.000000    512.000000

In [5]:
df = pd.read_csv('results/random_walk_prob_4.csv')
df.describe()

              score     best_tile
count  12500.000000  12500.000000
mean     896.954880     93.676160
std      445.991767     48.808943
min       76.000000      8.000000
25%      568.000000     64.000000
50%      804.000000     64.000000
75%     1180.000000    128.000000
max     3372.000000    256.000000

In [6]:
df = pd.read_csv('results/random_walk_prob_5.csv')
df.describe()

              score     best_tile
count  12500.000000  12500.000000
mean     855.862400     90.899200
std      421.589896     47.025678
min       80.000000     16.000000
25%      552.000000     64.000000
50%      756.000000     64.000000
75%     1128.000000    128.000000
max     3120.000000    256.000000

In [7]:
df = pd.read_csv('results/random_walk_prob_6.csv')
df.describe()

              score     best_tile
count  12500.000000  12500.000000
mean     828.416320     89.598080
std      411.931591     46.410253
min       68.000000      8.000000
25%      540.000000     64.000000
50%      716.000000     64.000000
75%     1100.000000    128.000000
max     2940.000000    256.000000

In [8]:
df = pd.read_csv('results/random_walk_prob_7.csv')
df.describe()

              score    best_tile
count  12500.000000  12500.00000
mean     803.740480     87.28512
std      401.142939     45.12573
min       60.000000      8.00000
25%      528.000000     64.00000
50%      688.000000     64.00000
75%     1068.000000    128.00000
max     3096.000000    256.00000

In [9]:
df = pd.read_csv('results/random_walk_prob_8.csv')
df.describe()

              score     best_tile
count  12500.000000  12500.000000
mean     780.257600     85.621120
std      392.697533     44.268177
min       80.000000      8.000000
25%      516.000000     64.000000
50%      672.000000     64.000000
75%     1032.000000    128.000000
max     3024.000000    256.000000

In [10]:
df = pd.read_csv('results/random_walk_prob_9.csv')
df.describe()

              score     best_tile
count  12500.000000  12500.000000
mean     774.276160     85.635840
std      390.967239     44.332132
min       76.000000     16.000000
25%      508.000000     64.000000
50%      656.000000     64.000000
75%     1032.000000    128.000000
max     3216.000000    256.000000